In [739]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

vgdata = pd.read_csv('regreadyvgsales4.csv')
vgdata.head()

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,...,Platform_PC_y,Platform_PS_y,Platform_PS2_y,Platform_PS3_y,Platform_PS4_y,Platform_PSP_y,Platform_Wii_y,Platform_X360_y,Platform_XB_y,Platform_XOne_y
0,66.1760,46.3360,6.0320,13.5200,132.0480,10.0,7.6,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,20.0704,16.3328,4.8512,4.2112,45.4656,8.0,8.2,8.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,17.4832,12.2416,3.6736,3.3040,36.7024,7.0,8.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,18.0480,14.6240,10.4000,4.6080,47.6800,10.0,8.9,8.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22.3360,14.6880,4.6880,4.5440,46.2720,10.0,5.8,6.6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [740]:
vgdata = vgdata.drop(['NA_Sales', 'EU_Sales','JP_Sales','Other_Sales'] , axis = 1)
vgdata.head()

,Global_Sales,Years_on_Market,Critic_Score,User_Score,Genre_Action,Genre_Adventure,Genre_Fighting,Genre_Misc,Genre_Platform,Genre_Puzzle,...,Platform_PC_y,Platform_PS_y,Platform_PS2_y,Platform_PS3_y,Platform_PS4_y,Platform_PSP_y,Platform_Wii_y,Platform_X360_y,Platform_XB_y,Platform_XOne_y
0,132.0480,10.0,7.6,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,45.4656,8.0,8.2,8.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,36.7024,7.0,8.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,47.6800,10.0,8.9,8.5,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,46.2720,10.0,5.8,6.6,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [741]:
# Select on Specific Genre
# gen_dict = {'Action': 0, 'Sports': 1, 'Shooter':2, 'Role-Playing': 3, 'Racing': 4, 'Misc': 5, 'Platform': 6, 'Fighting': 7, 'Simulation': 8, 'Adventure': 9, 'Strategy': 10, 'Puzzle': 11}

#vgdata = vgdata.loc[vgdata['Genre_Action'] == 1]

In [742]:
# Select on Specific Rating
# rat_dict = {'E': 0, 'T': 1, 'M':2, 'E10+': 3, 'AO': 4, 'K-A': 5, 'RP': 6}

#vgdata = vgdata.loc[vgdata['Rating'] == 2]

In [743]:
print(vgdata.shape)

(6825, 164)

In [744]:
X = vgdata.drop(['Global_Sales'], axis = 1)
y = vgdata['Global_Sales']

print("Shape: ", X.shape, y.shape)

Shape:  (6825, 163) (6825,)

In [745]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [746]:
model = LinearRegression()

# Fit the model to the training data, and calculate the scores for the training and testing data.
model.fit(X_train, y_train)

LinearRegression()

In [747]:
# Use our model to predict a value
predicted = model.predict(X)

# Score the prediction with MSE and R2
mse = mean_squared_error(y, predicted)
r2 = r2_score(y, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

mean squared error (MSE): 7.444128103971304
R-squared (R2 ): 0.17121847266762902

In [748]:
# Overall Score for the model
model.score(X, y)

0.17121847266762902

In [749]:
model.score(X_test, y_test)

0.19349849578475276